@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --ring: 38 92% 50%;
  }

  html, body {
    @apply bg-gray-50 text-gray-900;
    overflow-x: hidden;
  }

  * {
    @apply border-gray-200;
  }
}

@layer utilities {
  .gold-gradient {
    background: linear-gradient(135deg, #b45309 0%, #d97706 50%, #f59e0b 100%);
  }
}
